.navbar-inverse {
    background-color: #F2EFE5;
    border-color: #F2EFE5;
    margin-top: 22px;
}

/*.navbar-inverse .navbar-brand {*/
    /*color: #525150;*/
    /*font-weight: bold !important;*/
/*}*/

.navbar-header a:first-of-type{
    /*border-left: 2px solid;*/
    margin-left: 2.3em;
}

/*.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {*/
    /*color: #ccac46 !important;*/
    /*background-color: transparent;*/
    /*font-weight: bold !important;*/
/*}*/

.taxonomy-filters{

    background-color: #F2EFE5;
}

.vcenter{
    position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 50%;height: 30%;margin: auto;
    color: #ffffff;
    font-size: 2.8em;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #525150;
    background-color: #F2EFE5;
    font-weight: bold !important;
}

/* ///////////////////////  */
.item_materials{
    list-style: none;
    overflow: hidden;
}

ul.item_materials li {
    float: right;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #F2EFE5;
    border-radius: 4px;
    cursor: pointer;
}

