<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            ایجاد شکل فریم جدید
            <small>ایجاد فریم</small>
        </h1>
        <!--<ol class="breadcrumb">-->
        <!--<li>-->
        <!--<i class="fa fa-dashboard"></i>  <a href="/adminmaster">شکل فریم عینک</a>-->
        <!--</li>-->

        <!--</ol>-->
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-push-3">
        <div class="panel panel-default">
            <!--<div class="panel-heading">-->
                <!--Edit {{news.title}}-->
            <!--</div>-->
            <div class="panel-body">

                <form role="form" ng-submit="submitCreateForm()">

                    <div class="form-group">
                        <label>عنوان شکل فریم : </label>
                        <input class="form-control" ng-model='formData.title' ng-required="true">
                    </div>

                    <button type="submit" class="btn btn-default">ایجاد</button>
                    <a href="#frames" ng-click="cancelCreate()" class="btn btn-default">انصراف</a>
                </form>
            </div>
        </div>
    </div>
</div>